<div class = "row">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/parties/APIPartyList">Parties</a>
            </li>
        <li class ="list-group-item">
            <a href="/president/APIPresidentList">Presidents</a>
        </li>
    </ul>
</div>
